<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pescatrice みぃ丸亭</title>
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>
<body>

<div class="map-toppage">

<div class="map-title">
<h1>アクセスマップ</h1>
</div>

<hr class="black-border" />



<div class="map-container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3250.55235490254!2d139.36777587690068!3d35.441117543124825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018554c2900088b%3A0x9f25389015932d05!2zUGVzY2F0cmljZSDjg5rjgrnjgqvjg4jjg6rjg7zjg4Hjgqcg44G_44GD5Li45Lqt!5e0!3m2!1sja!2sjp!4v1703692273993!5m2!1sja!2sjp" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<div class="map-wrapper">
  <div class="box-text" onclick="window.location.href='https://maps.app.goo.gl/gP513QCAsGtHxV8R7';">
    <p>Google Map ></p>
</div>

  <script>
    // JavaScriptで色を変更するイベントリスナーを追加
    var boxText = document.querySelector('.box-text');

    boxText.addEventListener('mouseover', function() {
      boxText.style.backgroundColor = '#c0c0c0'; // ホバー時の背景色
    });

    boxText.addEventListener('mouseout', function() {
      boxText.style.backgroundColor = ''; // ホバーから外れたときは背景色をクリア
    });
  </script>
</div>

	<div class="blank-border"></div>


<div class="map-title">
<h1>駐車場情報</h1>
</div>

<hr class="black-border" />

<div class="map-text">
🚗ランチタイムのみ駐車場をお使い頂けますが台数に限りがあるため、ご予約優先とさせて頂きますので、駐車場のご利用はお電話にて事前予約をお願い致します
尚、満車の場合は恐れ入りますが、近隣のコインパーキングをご利用下さい
</div>

<div class="map-lists">
    <li class="list">◆小田急線 本厚木駅東口から徒歩６分</li>
    <li class="list">◆東名高速 厚木IC、圏央道 海老名ICより車で8分</li>
    <li class="list">◆小田急線高架下のコインパーキングがお奨めです30分毎/１００円　最大料金７００円</li>
</div>

<div class="map-container">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d406.31767907731347!2d139.3694860919813!3d35.441388034798784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018554dd2b9ecef%3A0x6a7dadd5f310166f!2z5bCP55Sw5oCl5pys5Y6a5pyo5bm455S66aeQ6LuK5aC0!5e0!3m2!1sja!2sjp!4v1703758635501!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>




<div class="map-wrapper">
  <div class="box-text" onclick="window.location.href='https://maps.app.goo.gl/gP513QCAsGtHxV8R7';">
    <p>Google Map ></p>
</div>







</div>











<%= link_to "Topページへ", responsives_path, data: { turbo: false } %>
</div>
</body>
</html>
